.title {
    color:rgb(0, 0, 0)
}
.apropos {
    color:rgb(64, 215, 47)
}

.objectif {
    color:rgb(64, 215, 47)
}

.experience {
    color:rgb(64, 215, 47)
}
.background-image

    body {
        background-image: url(image/fondalien.gif);
    }
    .prenom {
        color:rgb(196, 203, 5)
    }

    .prenom {
        font-size: 140%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .nom {
        font-size: 140%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:rgb(196, 203, 5);
    }

    .age {
        font-size: 140%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(196, 203, 5);
    }

    .ville {
        font-size: 140%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(196, 203, 5);
    }

    .adresse {
        font-size: 140%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(196, 203, 5);
    }

    .codepostal {
        font-size: 140%; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(196, 203, 5);
    }

    .alien {
        float: left;
    }

    .p1 {
        font-size: 120%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(255, 234, 0);
        
    }

    .p2 {
        font-size: 130%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(255, 234, 0);
    }

    .date {
        font-size: 130%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(255, 234, 0);
    }

    .duree {
        font-size: 130%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(255, 234, 0)
    }

    .entreprise {
        font-size: 120%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(255, 234, 0)
    }

    .mois {
        font-size: 120%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(255, 234, 0)
    }

    .etudes {
       color: rgb(64, 215, 47);
    }

    .github {
       color: rgb(64, 215, 47);
    }

    .cv {
        color: rgb(64, 215, 47);
    }